In [1]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

import numpy as np
import pandas as pd
df = pd.read_csv('/Users/periyzat/Documents/Study/Programming/MLCodebasics/19/heart.csv')
df[50:60]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
50,50,M,ASY,130,233,0,Normal,121,Y,2.0,Flat,1
51,47,F,ASY,120,205,0,Normal,98,Y,2.0,Flat,1
52,45,M,ATA,140,224,1,Normal,122,N,0.0,Up,0
53,41,F,ATA,130,245,0,Normal,150,N,0.0,Up,0
54,52,F,ASY,130,180,0,Normal,140,Y,1.5,Flat,0
55,51,F,ATA,160,194,0,Normal,170,N,0.0,Up,0
56,31,M,ASY,120,270,0,Normal,153,Y,1.5,Flat,1
57,58,M,NAP,130,213,0,ST,140,N,0.0,Flat,1
58,54,M,ASY,150,365,0,ST,134,N,1.0,Up,0
59,52,M,ASY,112,342,0,ST,96,Y,1.0,Flat,1

In [2]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [3]:
df.shape

(918, 12)

In [4]:
df_outfiller = df[(df.Age < (df.Age.mean()-3*df.Age.std())) | (df.Age > (df.Age.mean()+3*df.Age.std()))]
df_outfiller.shape # there is no outlier for "Age"

(0, 12)

In [5]:
df1 = df[(df.RestingBP > (df.RestingBP.mean()-3*df.RestingBP.std())) & (df.RestingBP < (df.RestingBP.mean()+3*df.RestingBP.std()))]
df1.shape # 8 outliers

(910, 12)

In [6]:
df0 = df[(df.Cholesterol < (df.Cholesterol.mean()-3*df.Cholesterol.std())) | (df.Cholesterol > (df.Cholesterol.mean()+3*df.Cholesterol.std()))]
df0.head() # only 3 outfillers for Cholesterol

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [7]:
df2 = df1[(df.Cholesterol > (df.Cholesterol.mean()-3*df.Cholesterol.std())) & (df.Cholesterol < (df.Cholesterol.mean()+3*df.Cholesterol.std()))]
df2.shape

/var/folders/k1/nw41xrq17hd_m4fynmy4ycy40000gn/T/ipykernel_42420/2707432859.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2 = df1[(df.Cholesterol > (df.Cholesterol.mean()-3*df.Cholesterol.std())) & (df.Cholesterol < (df.Cholesterol.mean()+3*df.Cholesterol.std()))]

(907, 12)

In [8]:
df3 = df2[(df.MaxHR < (df.MaxHR.mean()-3*df.MaxHR.std())) | (df.MaxHR > (df.MaxHR.mean()+3*df.MaxHR.std()))]
df3.head() # there is no outfillers for MaxHR

/var/folders/k1/nw41xrq17hd_m4fynmy4ycy40000gn/T/ipykernel_42420/643669638.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df2[(df.MaxHR < (df.MaxHR.mean()-3*df.MaxHR.std())) | (df.MaxHR > (df.MaxHR.mean()+3*df.MaxHR.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
390,51,M,ASY,140,0,0,Normal,60,N,0.0,Flat,1

In [9]:
df4 = df2[(df.Oldpeak < (df.Oldpeak.mean()-3*df.Oldpeak.std())) | (df.Oldpeak > (df.Oldpeak.mean()+3*df.Oldpeak.std()))]
df4.head() # there is no outfillers for Oldpeak

/var/folders/k1/nw41xrq17hd_m4fynmy4ycy40000gn/T/ipykernel_42420/3737046473.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df4 = df2[(df.Oldpeak < (df.Oldpeak.mean()-3*df.Oldpeak.std())) | (df.Oldpeak > (df.Oldpeak.mean()+3*df.Oldpeak.std()))]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
324,46,M,ASY,100,0,1,ST,133,N,-2.6,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1

In [10]:
df2.ChestPainType.unique()
# identifying test column values

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [11]:
df2.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [12]:
df2.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [13]:
df2.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [14]:
# now we will replace some text values above with number values 
df3 = df2.copy()
df3.RestingECG.replace(
{
    'Normal': 1,
    'ST': 2,
    'LVH': 3
}, 
inplace = True
)

df3.ST_Slope.replace(
{
    'Up': 1,
    'Flat': 2,
    'Down': 3
}, 
inplace = True)

df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,1,0
1,49,F,NAP,160,180,0,1,156,N,1.0,2,1
2,37,M,ATA,130,283,0,2,98,N,0.0,1,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,2,1
4,54,M,NAP,150,195,0,1,122,N,0.0,1,0

In [15]:
# for other values such as "Sex","ExerciseAngina" and "ChestPainType" we will use dummies encoding
df4 = pd.get_dummies(df3, drop_first=True)
df4.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0.0,1,0,1,1,0,0,0
1,49,160,180,0,1,156,1.0,2,1,0,0,1,0,0
2,37,130,283,0,2,98,0.0,1,0,1,1,0,0,0
3,48,138,214,0,1,108,1.5,2,1,0,0,0,0,1
4,54,150,195,0,1,122,0.0,1,0,1,0,1,0,0

In [16]:
x=df4.drop(['HeartDisease'], axis='columns')
y=df4.HeartDisease

In [20]:
df4.HeartDisease.value_counts()

1    499
0    408
Name: HeartDisease, dtype: int64

In [17]:
x

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0.0,1,1,1,0,0,0
1,49,160,180,0,1,156,1.0,2,0,0,1,0,0
2,37,130,283,0,2,98,0.0,1,1,1,0,0,0
3,48,138,214,0,1,108,1.5,2,0,0,0,0,1
4,54,150,195,0,1,122,0.0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,1.2,2,1,0,0,1,0
914,68,144,193,1,1,141,3.4,2,1,0,0,0,0
915,57,130,131,0,1,115,1.2,2,1,0,0,0,1
916,57,130,236,0,3,174,0.0,2,0,1,0,0,0
917,38,138,175,0,1,173,0.0,1,1,0,1,0,0

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.43312892,  0.46044186,  0.84975293, ..., -0.53186975,
        -0.23114119, -0.82251137],
       [-0.47782667,  1.62454156, -0.16708509, ...,  1.88015957,
        -0.23114119, -0.82251137],
       [-1.751563  , -0.12160799,  0.79378019, ..., -0.53186975,
        -0.23114119, -0.82251137],
       ...,
       [ 0.37133089, -0.12160799, -0.62419577, ..., -0.53186975,
        -0.23114119,  1.21578866],
       [ 0.37133089, -0.12160799,  0.3553271 , ..., -0.53186975,
        -0.23114119, -0.82251137],
       [-1.64541831,  0.34403189, -0.21372904, ...,  1.88015957,
        -0.23114119, -0.82251137]])

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=20)

In [23]:
# first tested it in SVC in cross_val_score
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
scores = cross_val_score(SVC(), x,y, cv=5) # setting k=5
scores.mean()

0.6879363730192459

In [24]:
# and then in BaggingClassifier 
# here it doesn't show many difference in result
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=100,  # number of samples
    max_samples=0.8,   # 80% of all total x_train is used 
    oob_score = True,    # out of bag - which is 20% of x_train left
    random_state = 0
)

scores = cross_val_score(bag_model, x,y, cv = 5)
scores.mean()

/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.6901281039402586

In [25]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(), x,y, cv=5) # setting k=5
scores.mean()

0.7220933762370226

In [26]:
# But in DecisionTreeClassifier it shows big difference from 0.72% to 0.81
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,  # number of samples
    max_samples=0.8,   # 80% of all total x_train is used 
    oob_score = True,    # out of bag - which is 20% of x_train left
    random_state = 0
)

scores = cross_val_score(bag_model, x,y, cv = 5)
scores.mean()

/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/Users/periyzat/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.8069758970311456

In [28]:
# But RandomForestClassifier itself shows high accuracy
from sklearn.ensemble import RandomForestClassifier
scores = cross_val_score(RandomForestClassifier(), x,y, cv=5) # setting k=5
scores.mean()

0.8213648230222816